{% load static %}
    <main>
        <div class="slider">
            <div class="slides">
                <div class="slide">
                    <img src="https://scontent.fubp1-1.fna.fbcdn.net/v/t39.30808-6/285521361_3276668102568162_6938960043513341298_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=173fa1&_nc_eui2=AeGtHW9mHfu7AJP4UX8FZYVgntr2d9S-5ISe2vZ31L7khOX7soh_4UKQ8bZyma-xGHI1xCvpm9FTWMLwxwCwwYhy&_nc_ohc=4XT0kJObuZEAX8ndm6S&_nc_ht=scontent.fubp1-1.fna&oh=00_AfBxbYN4qfFIIEIE6Tpel-XRDFC2-6NayqOb6_kj-cwqag&oe=65E1C8CA" alt="Slide 1">
                </div>
                <div class="slide">
                    <img src="https://scontent.fubp1-1.fna.fbcdn.net/v/t1.6435-9/149969149_2927405530827756_4845534315849331058_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=bd3046&_nc_eui2=AeGf6UvZ98pEUH5i4vNtPFuhGbsnxQXu3LsZuyfFBe7cux1MeunDkSKDqnFfj5q5298NURF9N-E-ldRKdjXZHAiH&_nc_ohc=stpOTc0YyPUAX-dkSwU&_nc_ht=scontent.fubp1-1.fna&oh=00_AfARxJj5PILcxAvGI6Ysb8aaoHkqCkil4CYDC89sUNLc4A&oe=6604E899"
                        alt="Slide 2">
                </div>
                <div class="slide">
                    <img src="https://scontent.fubp1-1.fna.fbcdn.net/v/t39.30808-6/284903538_3276668965901409_2818576544551282772_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=c42490&_nc_eui2=AeG0HtUCFSRv8qa5N_aLPIn6scGe6mdcEs6xwZ7qZ1wSzgmNc30hg6Tl010NzSPYU3jPItihkWlzdYXrNnGDJxhv&_nc_ohc=tqWCVZ4bSXUAX8Ptfmh&_nc_ht=scontent.fubp1-1.fna&oh=00_AfA0QuBkEhsdXGQoURxFYrs4aO7EW79n4GYNszwXR-HBYQ&oe=65E36BC1" alt="Slide 3">
                </div>
                <!-- เพิ่มภาพสไลด์เพิ่มเติมตามต้องการ -->
            </div>
            <div class="slider-controls">
                <button class="slider-control" onclick="prevSlide()">❮</button>
                <button class="slider-control" onclick="nextSlide()">❯</button>
            </div>

        </div>
        <div class="tableimg1 mt-5">
            <div class="drop-shadow-lg bg-slate-700 ">
                <img src="https://scontent.fubp1-1.fna.fbcdn.net/v/t39.30808-6/428711217_1147822043255609_4323267793095472015_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=3635dc&_nc_eui2=AeE3eyURx5xJ1rCLkgVmEsTG49TltimZizTj1OW2KZmLNLgUnztcBBaQJkIb74Agj7c486VsLKkCnHaquNVDEDAW&_nc_ohc=lYPvvV-EM0oAX_do98G&_nc_ht=scontent.fubp1-1.fna&oh=00_AfDJ4ZBotLzPYsgsvG0Xbv3-xwHso0fY76CElGQz3F_BSQ&oe=65E1977B" alt="imgtable">
            </div>
        </div>

        <div class="tableimg2 mt-5">
            <div class="drop-shadow-lg bg-slate-700 ">
                <img src="https://scontent.fubp1-1.fna.fbcdn.net/v/t39.30808-6/429937680_1147822039922276_3396702224830539591_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=3635dc&_nc_eui2=AeFpwfCwJIci053tAl4PlVETlYYSYoSCfISVhhJihIJ8hJJ0LRlJ9n0Cqn5GSK12kDtxXyI4n3_F7cYGReKv_qP3&_nc_ohc=d4tQ_sKVDaQAX_UBese&_nc_ht=scontent.fubp1-1.fna&oh=00_AfBIYaZzXvhjn7291dbelAJamgYi6dL07ZB5cZwCeHOZvw&oe=65E32849" alt="imgtable">
            </div>
        </div>
    </main>
    

    <script>
        let currentSlide = 0;

        function showSlide(index) {
            const slides = document.querySelector('.slides');
            const totalSlides = document.querySelectorAll('.slide').length;

            if (index >= totalSlides) {
                currentSlide = 0;
            } else if (index < 0) {
                currentSlide = totalSlides - 1;
            } else {
                currentSlide = index;
            }

            const translateValue = -currentSlide * 100 + '%';
            slides.style.transform = 'translateX(' + translateValue + ')';
        }

        function prevSlide() {
            showSlide(currentSlide - 1);
        }

        function nextSlide() {
            showSlide(currentSlide + 1);
        }

        setInterval(nextSlide, 5000); // อัตโนมัติเปลี่ยนภาพทุก 5 วินาที

    </script>

