<style>
    body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
    }

    header {
        background-color: #333;
        color: #fff;
        padding: 20px;
        text-align: center;
    }

    main {
        padding: 20px;
    }

    section {
        margin-bottom: 30px;
    }

    h2 {
        color: #333;
    }

    .slider {
        max-width: 800px;
        margin: auto;
        overflow: hidden;
        position: relative;
    }

    .tableimg1 {
        width: 500px;
        height: 800px;
        margin: auto;
        overflow: hidden;
        position: relative;
        
    }

    .tableimg2 {
        width: 500px;
        height: 800px;
        margin: auto;
        overflow: hidden;
        position: relative;
        
    }

    .slides {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }

    .slide {
        min-width: 100%;
        box-sizing: border-box;
    }

    .slide img {
        width: 100%;
        height: auto;
    }

    .slider-controls {
        position: absolute;
        top: 50%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        transform: translateY(-50%);
    }

    .slider-control {
        cursor: pointer;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        border: none;
        padding: 10px;
        font-size: 18px;
    }
</style>